body, p, .terminal-text, .terminal-text:focus {
    --text_color: #ff8989;

    background-color: black;
    font-family: JetBrains Mono;
    font-size: 16px;
    color: var(--text_color);
    padding: 5px;
}

.welcome-box p {
    font-weight: bold;
}

p, .box {
    display: inline-block;
}

.box {
    width: 98%;
}

p {
    margin: 0;
}

.terminal-text, .terminal-text:focus {
    width: 92%;
    border: 0px;
    outline: none;
}